dslider {
  display: block;
}

slide {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  cursor: pointer;
}

slide .item {
  height: 100%;
  width: 100%;
}

thumbnail {
  height: 8rem;
  display: inline-flex;
  overflow-x: overlay;
  width: 100%;
  cursor: pointer;
}